db/chroma/
db/maria/
db/redis
.DS_Store
.env
.env*
CoE-Backend/.env*
CoE-RagPipeline/.env*
CoE-Backend/vendor/
!**/.env.example
*.pyc
__pycache__/
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pid
*.swp
*.bak
CoE-Cli
.venv
node_modules
.continue
.pytest_cache
chat.list
*.tar
